/*========================= 
========= GENERAL =========
===========================*/

.App {
	font-family: 'Montserrat', sans-serif;
}

.App-header {
	align-items: center;
	border-bottom: black solid 1px;
	color: black;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	height: 100vh;
	justify-content: center;
	width: 100vw;
  display: fixed;
  z-index: 55;
}

.App-link {
	color: black;
}

/*========================= 
========= SIDEBAR =========
===========================*/

.sidebar {
	align-items: center;
	background-color: black;
	border-left: 1px solid gainsboro;
	color: #c1c3c6;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	height: 100vh;
	justify-content: flex-start;
	padding-top: 15px;
	position: fixed;
	right: 0;
	top: 0px;
	width: 15vw;
}
.sidebar h3,
.sidebar a {
	padding-left: 15px;
}


.sidebar h2 {
	color: white;
	display: flex;
	font-weight: 500;
	margin-bottom: 15px;
}

.artists {
	align-items: left;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	justify-content: flex-start;
	margin: auto;
	margin-top: 25px;
	overflow: scroll;
	width: 100%;
}

/*========================= 
========= TRACKS =========
===========================*/

.recentlyPlayedTracks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 12vw;
	min-height: 100%;
	width: 75vw;
}

.recentlyPlayedTracks div {
	background-color: #d4418e;
	background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
	border-radius: 10px;
	box-shadow: 1px 3px 4px 1px grey;
	margin: 15px 25px;
}

.trackCard {
	align-items: center;
	background: white !important;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 10px;
	width: 250px;
}

.tracks {
	border-radius: 10px;
	height: 300px;
	width: 300px;
}

.trackBody {
	align-items: center;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}


/*========================= 
========= BUTTONS =========
===========================*/

 button {
	background-color: #1aa34a;
	border: 1px solid white;
	border-radius: 10px;
	color: black;
	color: white;
	width: 200px;
}

.headerBtns {
	align-items: center;
	display: "flex";
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: "10px";
}

.headerBtns button {
	border-radius: 10px;
	margin: 5px;
}

.headerBtns a {
	background-color: #1aa34a;
	border: 1px solid white;
	border-radius: 10px;
	color: black;
	color: white;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	width: 200px;
}

.headerBtns button:hover,
.headerBtns a:hover,
.sidebar button:hover {
	background-color: white;
	border: 1px solid #1aa34a;
	color: black;
}


.sidebarBtns {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto 25px;
	padding: 10px;
}

.sidebar button {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 10px;
	margin: 15px 15px 0 15px;
}

a:hover {
	color: #1aa34a !important;
	cursor: pointer;
}

/*========================= 
========= MOBILE =========
 ==========================*/

@media screen and (max-width: 600px)
{
	.sidebar
	{
		display: none;
	}
	.recentlyPlayedTracks
	{
		margin-right: 0;
	}
}